In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [3]:
movies = pd.read_csv(r"C:\Users\Kanika Berry\Downloads\Movie+Assignment+Data.csv") # Write your code for importing the csv file here
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [4]:
# Write your code for inspection here

In [5]:
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
movies.shape

(5043, 28)

In [7]:
movies.ndim

2

In [8]:
movies.size

141204

In [9]:
movies.describe(include= ['object']) #for categorial values

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
count,5024,4939,5030,5043,5036,5043,5020,4890,5043,5029,5038,4740
unique,2,2398,3032,914,2097,4917,3521,4760,4919,46,65,18
top,Color,Steven Spielberg,Morgan Freeman,Drama,Robert De Niro,Ben-Hur,John Heard,based on novel,http://www.imdb.com/title/tt0232500/?ref_=fn_t...,English,USA,R
freq,4815,26,20,236,49,3,8,4,3,4704,3807,2118

In [10]:
movies.describe() #for numerical values

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [11]:

movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [12]:
movies.nunique()

color                           2
director_name                2398
num_critic_for_reviews        528
duration                      191
director_facebook_likes       435
actor_3_facebook_likes        906
actor_2_name                 3032
actor_1_facebook_likes        878
gross                        4035
genres                        914
actor_1_name                 2097
movie_title                  4917
num_voted_users              4826
cast_total_facebook_likes    3978
actor_3_name                 3521
facenumber_in_poster           19
plot_keywords                4760
movie_imdb_link              4919
num_user_for_reviews          954
language                       46
country                        65
content_rating                 18
budget                        439
title_year                     91
actor_2_facebook_likes        917
imdb_score                     78
aspect_ratio                   22
movie_facebook_likes          876
dtype: int64

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [13]:
# Write your code for column-wise null count here     #Identify of null values column wise
null_counts = movies.isnull().sum()
print(null_counts)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [14]:
# Write your code for row-wise null count here #Identify of null values row wise
row_null_counts = movies.isnull().sum(axis=1)
print(row_null_counts)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [15]:
#Filtering of null values row wise
rows_with_nulls = movies[row_null_counts > 0]
print(rows_with_nulls)

      color     director_name  num_critic_for_reviews  duration  \
4       NaN       Doug Walker                     NaN       NaN
55    Color        Peter Sohn                   298.0      93.0
84    Color      Roland Joffé                    10.0     109.0
98    Color      Hideaki Anno                     1.0     120.0
99    Color     Peter Jackson                   645.0     182.0
...     ...               ...                     ...       ...
5037  Color      Edward Burns                    14.0      95.0
5038  Color       Scott Smith                     1.0      87.0
5039  Color               NaN                    43.0      43.0
5040  Color  Benjamin Roberds                    13.0      76.0
5041  Color       Daniel Hsia                    14.0     100.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
4                       131.0                     NaN          Rob Walker
55                      113.0                   113.0         Jack McGraw
84                      596.0                   283.0       Alice Englert
98                       28.0                    12.0   Shin'ya Tsukamoto
99                        0.0                   773.0          Adam Brown
...                       ...                     ...                 ...
5037                      0.0                   133.0  Caitlin FitzGerald
5038                      2.0                   318.0       Daphne Zuniga
5039                      NaN                   319.0       Valorie Curry
5040                      0.0                     0.0       Maxwell Moody
5041                      0.0                   489.0       Daniel Henney

      actor_1_facebook_likes        gross  \
4                      131.0          NaN
55                     275.0  123070338.0
84                     622.0          NaN
98                     544.0          NaN
99                    5000.0  303001229.0
...                      ...          ...
5037                   296.0       4584.0
5038                   637.0          NaN
5039                   841.0          NaN
5040                     0.0          NaN
5041                   946.0      10443.0

                                         genres  ... num_user_for_reviews  \
4                                   Documentary  ...                  NaN
55    Adventure|Animation|Comedy|Family|Fantasy  ...                345.0
84              Action|Adventure|Romance|Sci-Fi  ...                 15.0
98         Action|Adventure|Drama|Horror|Sci-Fi  ...                 13.0
99                            Adventure|Fantasy  ...               1367.0
...                                         ...  ...                  ...
5037                               Comedy|Drama  ...                 14.0
5038                               Comedy|Drama  ...                  6.0
5039               Crime|Drama|Mystery|Thriller  ...                359.0
5040                      Drama|Horror|Thriller  ...                  3.0
5041                       Comedy|Drama|Romance  ...                  9.0

      language  country  content_rating       budget  title_year  \
4          NaN      NaN             NaN          NaN         NaN
55     English      USA              PG          NaN      2015.0
84     English  Belgium               R          NaN      2015.0
98    Japanese    Japan             NaN          NaN      2016.0
99     English      USA           PG-13  180000000.0      2012.0
...        ...      ...             ...          ...         ...
5037   English      USA       Not Rated       9000.0      2011.0
5038   English   Canada             NaN          NaN      2013.0
5039   English      USA           TV-14          NaN         NaN
5040   English      USA             NaN       1400.0      2013.0
5041   English      USA           PG-13          NaN      2012.0

     actor_2_facebook_likes imdb_score  aspect_ratio movie_facebook_likes
4                      12.0        7.1           NaN                    0
55                    150.0        6.8          2.35                20000
84                    525.0        4.5           NaN                  677
98                    106.0        8.2          2.35                    0
99                    972.0        7.9          2.35               166000
...                     ...        ...           ...                  ...
5037                  205.0        6.4           NaN                  413
5038                  470.0        7.7           NaN                   84
5039                  593.0        7.5         16.00                32000
5040                    0.0        6.3           NaN                   16
5041                  719.0        6.3          2.35                  660

[1288 rows x 28 columns]

In [16]:
# Write your code for column-wise null percentages here
null_percentages = (null_counts / len(movies)) * 100
print(null_percentages)

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.277613
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes

-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [17]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 

columns_to_drop = ['color', 'duration',
 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name','actor_1_facebook_likes','actor_2_facebook_likes', 'cast_total_facebook_likes', 'facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords', 'actor_3_name'] 

df= movies.drop(columns=columns_to_drop)
print(df)

          director_name  num_critic_for_reviews        gross  \
0         James Cameron                   723.0  760505847.0
1        Gore Verbinski                   302.0  309404152.0
2            Sam Mendes                   602.0  200074175.0
3     Christopher Nolan                   813.0  448130642.0
4           Doug Walker                     NaN          NaN
...                 ...                     ...          ...
5038        Scott Smith                     1.0          NaN
5039                NaN                    43.0          NaN
5040   Benjamin Roberds                    13.0          NaN
5041        Daniel Hsia                    14.0      10443.0
5042           Jon Gunn                    43.0      85222.0

                               genres     actor_1_name  \
0     Action|Adventure|Fantasy|Sci-Fi      CCH Pounder
1            Action|Adventure|Fantasy      Johnny Depp
2           Action|Adventure|Thriller  Christoph Waltz
3                     Action|Thriller        Tom Hardy
4                         Documentary      Doug Walker
...                               ...              ...
5038                     Comedy|Drama      Eric Mabius
5039     Crime|Drama|Mystery|Thriller      Natalie Zea
5040            Drama|Horror|Thriller      Eva Boehnke
5041             Comedy|Drama|Romance        Alan Ruck
5042                      Documentary      John August

                                            movie_title  num_voted_users  \
0                                               Avatar            886204
1             Pirates of the Caribbean: At World's End            471220
2                                              Spectre            275868
3                                The Dark Knight Rises           1144337
4     Star Wars: Episode VII - The Force Awakens    ...                8
...                                                 ...              ...
5038                           Signed Sealed Delivered               629
5039                         The Following                         73839
5040                              A Plague So Pleasant                38
5041                                  Shanghai Calling              1255
5042                                 My Date with Drew              4285

      num_user_for_reviews language       budget  title_year  imdb_score  \
0                   3054.0  English  237000000.0      2009.0         7.9
1                   1238.0  English  300000000.0      2007.0         7.1
2                    994.0  English  245000000.0      2015.0         6.8
3                   2701.0  English  250000000.0      2012.0         8.5
4                      NaN      NaN          NaN         NaN         7.1
...                    ...      ...          ...         ...         ...
5038                   6.0  English          NaN      2013.0         7.7
5039                 359.0  English          NaN         NaN         7.5
5040                   3.0  English       1400.0      2013.0         6.3
5041                   9.0  English          NaN      2012.0         6.3
5042                  84.0  English       1100.0      2004.0         6.6

      movie_facebook_likes
0                    33000
1                        0
2                    85000
3                   164000
4                        0
...                    ...
5038                    84
5039                 32000
5040                    16
5041                   660
5042                   456

[5043 rows x 13 columns]

In [18]:
df.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,NaN,NaN,7.1,0

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [19]:
# Write your code for dropping the rows here
import pandas as pd

# Step 1: Calculate the percentage of Null values for each column
null_percentage = movies.isnull().mean() * 100

# Step 2: Identify columns with more than 5% Null values
columns_to_drop = null_percentage[null_percentage > 5].index

# Step 3: Drop rows with Null values in the identified columns
cleaned_df = movies.dropna(subset=columns_to_drop)

# Display the null percentages, columns to drop, and the shape of dataframes
print("Null Percentage for each column:\n", null_percentage)
print("Columns with more than 5% Null values:\n", columns_to_drop)
print(f"Original dataframe shape: {movies.shape}")
print(f"Cleaned dataframe shape: {cleaned_df.shape}")

Null Percentage for each column:
 color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.277613
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64
Columns with more than 5% Null values:
 Index(['gross', 'content_rating', 'budget', 'aspect_ratio'], dtype='object')
Original dataframe shape: (5043, 28)
Cleaned dataframe shape: (3784, 28)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [20]:

# Indices of rows to drop
rows_to_drop = [4]  # Replace with the actual indices you want to drop

# Dropping the rows
df= movies.drop(index=rows_to_drop)

# Display the DataFrame to verify the rows are dropped
print(df)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
5                       475.0                   530.0   Samantha Morton
...                       ...                     ...               ...
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney
5042                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
5                      640.0   73058679.0          Action|Adventure|Sci-Fi
...                      ...          ...                              ...
5038                   637.0          NaN                     Comedy|Drama
5039                   841.0          NaN     Crime|Drama|Mystery|Thriller
5040                     0.0          NaN            Drama|Horror|Thriller
5041                   946.0      10443.0             Comedy|Drama|Romance
5042                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating       budget  \
0     ...               3054.0  English      USA           PG-13  237000000.0
1     ...               1238.0  English      USA           PG-13  300000000.0
2     ...                994.0  English       UK           PG-13  245000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
5     ...                738.0  English      USA           PG-13  263700000.0
...   ...                  ...      ...      ...             ...          ...
5038  ...                  6.0  English   Canada             NaN          NaN
5039  ...                359.0  English      USA           TV-14          NaN
5040  ...                  3.0  English      USA             NaN       1400.0
5041  ...                  9.0  English      USA           PG-13          NaN
5042  ...                 84.0  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
5         2012.0                  632.0        6.6          2.35
...          ...                    ...        ...           ...
5038      2013.0                  470.0        7.7           NaN
5039         NaN                  593.0        7.5         16.00
5040      2013.0                    0.0        6.3           NaN
5041      2012.0                  719.0        6.3          2.35
5042      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
5                   24000
...                   ...
5038                   84
5039                32000
5040                   16
5041                  660
5042                  456

[5042 rows x 28 columns]

In [21]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [22]:

# Filling NaN values in the 'language' column
movies['language'] = movies['language'].fillna('English')

# Display the DataFrame to verify NaN values are filled
print(movies)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney
5042                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
5038                   637.0          NaN                     Comedy|Drama
5039                   841.0          NaN     Crime|Drama|Mystery|Thriller
5040                     0.0          NaN            Drama|Horror|Thriller
5041                   946.0      10443.0             Comedy|Drama|Romance
5042                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating       budget  \
0     ...               3054.0  English      USA           PG-13  237000000.0
1     ...               1238.0  English      USA           PG-13  300000000.0
2     ...                994.0  English       UK           PG-13  245000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
4     ...                  NaN  English      NaN             NaN          NaN
...   ...                  ...      ...      ...             ...          ...
5038  ...                  6.0  English   Canada             NaN          NaN
5039  ...                359.0  English      USA           TV-14          NaN
5040  ...                  3.0  English      USA             NaN       1400.0
5041  ...                  9.0  English      USA           PG-13          NaN
5042  ...                 84.0  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
4            NaN                   12.0        7.1           NaN
...          ...                    ...        ...           ...
5038      2013.0                  470.0        7.7           NaN
5039         NaN                  593.0        7.5         16.00
5040      2013.0                    0.0        6.3           NaN
5041      2012.0                  719.0        6.3          2.35
5042      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
5038                   84
5039                32000
5040                   16
5041                  660
5042                  456

[5043 rows x 28 columns]

In [25]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,English,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [27]:

number_of_retained_rows = df.shape[0]
print(f'Number of retained rows: {number_of_retained_rows}')

Number of retained rows: 5043

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

In [80]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [81]:

# Define the conversion factor (example: converting meters to feet, 1 meter = 3.28084 feet)
conversion_factor = 0.684984

# Change the unit of the specified column (replace 'column_to_convert' with the actual column name)
movies['gross'] = movies['gross'] * conversion_factor


# Optionally, rename the column to reflect the new unit
df = movies.rename(columns={'gross': 'column_in_new_unit'})


# Print the DataFrame to verify changes
print(df)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney
5042                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes  column_in_new_unit  \
0                     1000.0        5.209343e+08
1                    40000.0        2.119369e+08
2                    11000.0        1.370476e+08
3                    27000.0        3.069623e+08
4                      131.0                 NaN
...                      ...                 ...
5038                   637.0                 NaN
5039                   841.0                 NaN
5040                     0.0                 NaN
5041                   946.0        7.153288e+03
5042                    86.0        5.837571e+04

                               genres  ... num_user_for_reviews language  \
0     Action|Adventure|Fantasy|Sci-Fi  ...               3054.0  English
1            Action|Adventure|Fantasy  ...               1238.0  English
2           Action|Adventure|Thriller  ...                994.0  English
3                     Action|Thriller  ...               2701.0  English
4                         Documentary  ...                  NaN      NaN
...                               ...  ...                  ...      ...
5038                     Comedy|Drama  ...                  6.0  English
5039     Crime|Drama|Mystery|Thriller  ...                359.0  English
5040            Drama|Horror|Thriller  ...                  3.0  English
5041             Comedy|Drama|Romance  ...                  9.0  English
5042                      Documentary  ...                 84.0  English

      country  content_rating       budget  title_year actor_2_facebook_likes  \
0         USA           PG-13  237000000.0      2009.0                  936.0
1         USA           PG-13  300000000.0      2007.0                 5000.0
2          UK           PG-13  245000000.0      2015.0                  393.0
3         USA           PG-13  250000000.0      2012.0                23000.0
4         NaN             NaN          NaN         NaN                   12.0
...       ...             ...          ...         ...                    ...
5038   Canada             NaN          NaN      2013.0                  470.0
5039      USA           TV-14          NaN         NaN                  593.0
5040      USA             NaN       1400.0      2013.0                    0.0
5041      USA           PG-13          NaN      2012.0                  719.0
5042      USA              PG       1100.0      2004.0                   23.0

     imdb_score  aspect_ratio movie_facebook_likes
0           7.9          1.78                33000
1           7.1          2.35                    0
2           6.8          2.35                85000
3           8.5          2.35               164000
4           7.1           NaN                    0
...         ...           ...                  ...
5038        7.7           NaN                   84
5039        7.5         16.00                32000
5040        6.3           NaN                   16
5041        6.3          2.35                  660
5042        6.6          1.85                  456

[5043 rows x 28 columns]

In [82]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,5.209343e+08,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,2.119369e+08,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,1.370476e+08,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,3.069623e+08,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [83]:
movies['profit'] = movies['gross'] - movies['budget']

In [84]:
df_sorted = movies.sort_values(by='profit', ascending=False)

top10 = df_sorted.head(10)

print(top10)

      color     director_name  num_critic_for_reviews  duration  \
3024  Color      George Lucas                   282.0     125.0
29    Color   Colin Trevorrow                   644.0     124.0
3080  Color  Steven Spielberg                   215.0     120.0
0     Color     James Cameron                   723.0     178.0
26    Color     James Cameron                   315.0     194.0
509   Color      Roger Allers                   186.0      73.0
240   Color      George Lucas                   320.0     136.0
17    Color       Joss Whedon                   703.0     173.0
794   Color       Joss Whedon                   703.0     173.0
439   Color         Gary Ross                   673.0     142.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
3024                      0.0                   504.0      Peter Cushing
29                      365.0                  1000.0         Judy Greer
3080                  14000.0                   548.0        Dee Wallace
0                         0.0                   855.0   Joel David Moore
26                        0.0                   794.0       Kate Winslet
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
17                        0.0                 19000.0  Robert Downey Jr.
794                       0.0                 19000.0  Robert Downey Jr.
439                     378.0                   575.0    Josh Hutcherson

      actor_1_facebook_likes         gross  \
3024                 11000.0  3.157336e+08
29                    3000.0  4.467310e+08
3080                   861.0  2.979334e+08
0                     1000.0  5.209343e+08
26                   29000.0  4.511800e+08
509                   2000.0  2.896001e+08
240                  20000.0  3.250555e+08
17                   26000.0  4.269365e+08
794                  26000.0  4.269365e+08
439                  34000.0  2.794730e+08

                                        genres  ... language country  \
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
26                               Drama|Romance  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
794                    Action|Adventure|Sci-Fi  ...  English     USA
439            Adventure|Drama|Sci-Fi|Thriller  ...  English     USA

      content_rating       budget title_year  actor_2_facebook_likes  \
3024              PG   11000000.0     1977.0                  1000.0
29             PG-13  150000000.0     2015.0                  2000.0
3080              PG   10500000.0     1982.0                   725.0
0              PG-13  237000000.0     2009.0                   936.0
26             PG-13  200000000.0     1997.0                 14000.0
509                G   45000000.0     1994.0                   886.0
240               PG  115000000.0     1999.0                 14000.0
17             PG-13  220000000.0     2012.0                 21000.0
794            PG-13  220000000.0     2012.0                 21000.0
439            PG-13   78000000.0     2012.0                 14000.0

     imdb_score aspect_ratio  movie_facebook_likes        profit
3024        8.7         2.35                 33000  3.047336e+08
29          7.0         2.00                150000  2.967310e+08
3080        7.9         1.85                 34000  2.874334e+08
0           7.9         1.78                 33000  2.839343e+08
26          7.7         2.35                 26000  2.511800e+08
509         8.5         1.66                 17000  2.446001e+08
240         6.5         2.35                 13000  2.100555e+08
17          8.1         1.85                123000  2.069365e+08
794         8.1         1.85                123000  2.069365e+08
439         7.3         2.35                140000  2.014730e+08

[10 rows x 29 columns]

In [85]:
top10 = df_sorted.head(10)

print(top10)

      color     director_name  num_critic_for_reviews  duration  \
3024  Color      George Lucas                   282.0     125.0
29    Color   Colin Trevorrow                   644.0     124.0
3080  Color  Steven Spielberg                   215.0     120.0
0     Color     James Cameron                   723.0     178.0
26    Color     James Cameron                   315.0     194.0
509   Color      Roger Allers                   186.0      73.0
240   Color      George Lucas                   320.0     136.0
17    Color       Joss Whedon                   703.0     173.0
794   Color       Joss Whedon                   703.0     173.0
439   Color         Gary Ross                   673.0     142.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
3024                      0.0                   504.0      Peter Cushing
29                      365.0                  1000.0         Judy Greer
3080                  14000.0                   548.0        Dee Wallace
0                         0.0                   855.0   Joel David Moore
26                        0.0                   794.0       Kate Winslet
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
17                        0.0                 19000.0  Robert Downey Jr.
794                       0.0                 19000.0  Robert Downey Jr.
439                     378.0                   575.0    Josh Hutcherson

      actor_1_facebook_likes         gross  \
3024                 11000.0  3.157336e+08
29                    3000.0  4.467310e+08
3080                   861.0  2.979334e+08
0                     1000.0  5.209343e+08
26                   29000.0  4.511800e+08
509                   2000.0  2.896001e+08
240                  20000.0  3.250555e+08
17                   26000.0  4.269365e+08
794                  26000.0  4.269365e+08
439                  34000.0  2.794730e+08

                                        genres  ... language country  \
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
26                               Drama|Romance  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
794                    Action|Adventure|Sci-Fi  ...  English     USA
439            Adventure|Drama|Sci-Fi|Thriller  ...  English     USA

      content_rating       budget title_year  actor_2_facebook_likes  \
3024              PG   11000000.0     1977.0                  1000.0
29             PG-13  150000000.0     2015.0                  2000.0
3080              PG   10500000.0     1982.0                   725.0
0              PG-13  237000000.0     2009.0                   936.0
26             PG-13  200000000.0     1997.0                 14000.0
509                G   45000000.0     1994.0                   886.0
240               PG  115000000.0     1999.0                 14000.0
17             PG-13  220000000.0     2012.0                 21000.0
794            PG-13  220000000.0     2012.0                 21000.0
439            PG-13   78000000.0     2012.0                 14000.0

     imdb_score aspect_ratio  movie_facebook_likes        profit
3024        8.7         2.35                 33000  3.047336e+08
29          7.0         2.00                150000  2.967310e+08
3080        7.9         1.85                 34000  2.874334e+08
0           7.9         1.78                 33000  2.839343e+08
26          7.7         2.35                 26000  2.511800e+08
509         8.5         1.66                 17000  2.446001e+08
240         6.5         2.35                 13000  2.100555e+08
17          8.1         1.85                123000  2.069365e+08
794         8.1         1.85                123000  2.069365e+08
439         7.3         2.35                140000  2.014730e+08

[10 rows x 29 columns]

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [86]:
# If dropping duplicates reduces the top 10 rows to less than 10, get more rows to fill up the top 10
while len(top10) < 10:
    next_rows = df_sorted.iloc[len(top10):len(top10)+10].drop_duplicates()
    top10 = pd.concat([top10, next_rows]).drop_duplicates().head(10)

# Display the top 10 profiting movies
print(top10)

      color     director_name  num_critic_for_reviews  duration  \
3024  Color      George Lucas                   282.0     125.0
29    Color   Colin Trevorrow                   644.0     124.0
3080  Color  Steven Spielberg                   215.0     120.0
0     Color     James Cameron                   723.0     178.0
26    Color     James Cameron                   315.0     194.0
509   Color      Roger Allers                   186.0      73.0
240   Color      George Lucas                   320.0     136.0
17    Color       Joss Whedon                   703.0     173.0
794   Color       Joss Whedon                   703.0     173.0
439   Color         Gary Ross                   673.0     142.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
3024                      0.0                   504.0      Peter Cushing
29                      365.0                  1000.0         Judy Greer
3080                  14000.0                   548.0        Dee Wallace
0                         0.0                   855.0   Joel David Moore
26                        0.0                   794.0       Kate Winslet
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
17                        0.0                 19000.0  Robert Downey Jr.
794                       0.0                 19000.0  Robert Downey Jr.
439                     378.0                   575.0    Josh Hutcherson

      actor_1_facebook_likes         gross  \
3024                 11000.0  3.157336e+08
29                    3000.0  4.467310e+08
3080                   861.0  2.979334e+08
0                     1000.0  5.209343e+08
26                   29000.0  4.511800e+08
509                   2000.0  2.896001e+08
240                  20000.0  3.250555e+08
17                   26000.0  4.269365e+08
794                  26000.0  4.269365e+08
439                  34000.0  2.794730e+08

                                        genres  ... language country  \
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
26                               Drama|Romance  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
794                    Action|Adventure|Sci-Fi  ...  English     USA
439            Adventure|Drama|Sci-Fi|Thriller  ...  English     USA

      content_rating       budget title_year  actor_2_facebook_likes  \
3024              PG   11000000.0     1977.0                  1000.0
29             PG-13  150000000.0     2015.0                  2000.0
3080              PG   10500000.0     1982.0                   725.0
0              PG-13  237000000.0     2009.0                   936.0
26             PG-13  200000000.0     1997.0                 14000.0
509                G   45000000.0     1994.0                   886.0
240               PG  115000000.0     1999.0                 14000.0
17             PG-13  220000000.0     2012.0                 21000.0
794            PG-13  220000000.0     2012.0                 21000.0
439            PG-13   78000000.0     2012.0                 14000.0

     imdb_score aspect_ratio  movie_facebook_likes        profit
3024        8.7         2.35                 33000  3.047336e+08
29          7.0         2.00                150000  2.967310e+08
3080        7.9         1.85                 34000  2.874334e+08
0           7.9         1.78                 33000  2.839343e+08
26          7.7         2.35                 26000  2.511800e+08
509         8.5         1.66                 17000  2.446001e+08
240         6.5         2.35                 13000  2.100555e+08
17          8.1         1.85                123000  2.069365e+08
794         8.1         1.85                123000  2.069365e+08
439         7.3         2.35                140000  2.014730e+08

[10 rows x 29 columns]

In [87]:
# Write code for repeating subtask 2 here
movies['profit'] = movies['gross'] - movies['budget']
df_sorted = movies.sort_values(by='profit', ascending=False)

top10 = df_sorted.head(10)

print(top10)
top10 = df_sorted.head(10)

print(top10)

      color     director_name  num_critic_for_reviews  duration  \
3024  Color      George Lucas                   282.0     125.0
29    Color   Colin Trevorrow                   644.0     124.0
3080  Color  Steven Spielberg                   215.0     120.0
0     Color     James Cameron                   723.0     178.0
26    Color     James Cameron                   315.0     194.0
509   Color      Roger Allers                   186.0      73.0
240   Color      George Lucas                   320.0     136.0
17    Color       Joss Whedon                   703.0     173.0
794   Color       Joss Whedon                   703.0     173.0
439   Color         Gary Ross                   673.0     142.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
3024                      0.0                   504.0      Peter Cushing
29                      365.0                  1000.0         Judy Greer
3080                  14000.0                   548.0        Dee Wallace
0                         0.0                   855.0   Joel David Moore
26                        0.0                   794.0       Kate Winslet
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
17                        0.0                 19000.0  Robert Downey Jr.
794                       0.0                 19000.0  Robert Downey Jr.
439                     378.0                   575.0    Josh Hutcherson

      actor_1_facebook_likes         gross  \
3024                 11000.0  3.157336e+08
29                    3000.0  4.467310e+08
3080                   861.0  2.979334e+08
0                     1000.0  5.209343e+08
26                   29000.0  4.511800e+08
509                   2000.0  2.896001e+08
240                  20000.0  3.250555e+08
17                   26000.0  4.269365e+08
794                  26000.0  4.269365e+08
439                  34000.0  2.794730e+08

                                        genres  ... language country  \
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
26                               Drama|Romance  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
794                    Action|Adventure|Sci-Fi  ...  English     USA
439            Adventure|Drama|Sci-Fi|Thriller  ...  English     USA

      content_rating       budget title_year  actor_2_facebook_likes  \
3024              PG   11000000.0     1977.0                  1000.0
29             PG-13  150000000.0     2015.0                  2000.0
3080              PG   10500000.0     1982.0                   725.0
0              PG-13  237000000.0     2009.0                   936.0
26             PG-13  200000000.0     1997.0                 14000.0
509                G   45000000.0     1994.0                   886.0
240               PG  115000000.0     1999.0                 14000.0
17             PG-13  220000000.0     2012.0                 21000.0
794            PG-13  220000000.0     2012.0                 21000.0
439            PG-13   78000000.0     2012.0                 14000.0

     imdb_score aspect_ratio  movie_facebook_likes        profit
3024        8.7         2.35                 33000  3.047336e+08
29          7.0         2.00                150000  2.967310e+08
3080        7.9         1.85                 34000  2.874334e+08
0           7.9         1.78                 33000  2.839343e+08
26          7.7         2.35                 26000  2.511800e+08
509         8.5         1.66                 17000  2.446001e+08
240         6.5         2.35                 13000  2.100555e+08
17          8.1         1.85                123000  2.069365e+08
794         8.1         1.85                123000  2.069365e+08
439         7.3         2.35                140000  2.014730e+08

[10 rows x 29 columns]
      color     director_name  num_critic_for_reviews  duration  \
3024  Color      George Lucas                   282.0     125.0
29    Color   Colin Trevorrow                   644.0     124.0
3080  Color  Steven Spielberg                   215.0     120.0
0     Color     James Cameron                   723.0     178.0
26    Color     James Cameron                   315.0     194.0
509   Color      Roger Allers                   186.0      73.0
240   Color      George Lucas                   320.0     136.0
17    Color       Joss Whedon                   703.0     173.0
794   Color       Joss Whedon                   703.0     173.0
439   Color         Gary Ross                   673.0     142.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
3024                      0.0                   504.0      Peter Cushing
29                      365.0                  1000.0         Judy Greer
3080                  14000.0                   548.0        Dee Wallace
0                         0.0                   855.0   Joel David Moore
26                        0.0                   794.0       Kate Winslet
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
17                        0.0                 19000.0  Robert Downey Jr.
794                       0.0                 19000.0  Robert Downey Jr.
439                     378.0                   575.0    Josh Hutcherson

      actor_1_facebook_likes         gross  \
3024                 11000.0  3.157336e+08
29                    3000.0  4.467310e+08
3080                   861.0  2.979334e+08
0                     1000.0  5.209343e+08
26                   29000.0  4.511800e+08
509                   2000.0  2.896001e+08
240                  20000.0  3.250555e+08
17                   26000.0  4.269365e+08
794                  26000.0  4.269365e+08
439                  34000.0  2.794730e+08

                                        genres  ... language country  \
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
26                               Drama|Romance  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
794                    Action|Adventure|Sci-Fi  ...  English     USA
439            Adventure|Drama|Sci-Fi|Thriller  ...  English     USA

      content_rating       budget title_year  actor_2_facebook_likes  \
3024              PG   11000000.0     1977.0                  1000.0
29             PG-13  150000000.0     2015.0                  2000.0
3080              PG   10500000.0     1982.0                   725.0
0              PG-13  237000000.0     2009.0                   936.0
26             PG-13  200000000.0     1997.0                 14000.0
509                G   45000000.0     1994.0                   886.0
240               PG  115000000.0     1999.0                 14000.0
17             PG-13  220000000.0     2012.0                 21000.0
794            PG-13  220000000.0     2012.0                 21000.0
439            PG-13   78000000.0     2012.0                 14000.0

     imdb_score aspect_ratio  movie_facebook_likes        profit
3024        8.7         2.35                 33000  3.047336e+08
29          7.0         2.00                150000  2.967310e+08
3080        7.9         1.85                 34000  2.874334e+08
0           7.9         1.78                 33000  2.839343e+08
26          7.7         2.35                 26000  2.511800e+08
509         8.5         1.66                 17000  2.446001e+08
240         6.5         2.35                 13000  2.100555e+08
17          8.1         1.85                123000  2.069365e+08
794         8.1         1.85                123000  2.069365e+08
439         7.3         2.35                140000  2.014730e+08

[10 rows x 29 columns]

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [88]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
import pandas as pd

# Assuming you have a DataFrame 'df' with a column 'IMDb_score'

# Step 1: Sort the dataframe by 'IMDb_score' in descending order
df_sorted_by_imdb = df.sort_values(by='imdb_score', ascending=False)

# Step 2: Extract the top 250 movies
IMDb_Top_250 = df_sorted_by_imdb.head(250)

# Display the top 250 movies
print(IMDb_Top_250)

                 color         director_name  num_critic_for_reviews  \
2765             Color        John Blanchard                     NaN
1937             Color        Frank Darabont                   199.0
3466             Color  Francis Ford Coppola                   208.0
4409               NaN        John Stockwell                     2.0
2824             Color                   NaN                    53.0
...                ...                   ...                     ...
17               Color           Joss Whedon                   703.0
2174             Color         Steve McQueen                   597.0
715              Color         David Fincher                   568.0
4238   Black and White         William Wyler                    97.0
719              Color            Peter Weir                   213.0

      duration  director_facebook_likes  actor_3_facebook_likes  \
2765      65.0                      0.0                   176.0
1937     142.0                      0.0                   461.0
3466     175.0                      0.0                  3000.0
4409      90.0                    134.0                   354.0
2824      55.0                      NaN                     2.0
...        ...                      ...                     ...
17       173.0                      0.0                 19000.0
2174     134.0                      0.0                   500.0
715      149.0                  21000.0                   625.0
4238     172.0                    355.0                   188.0
719      103.0                    608.0                   576.0

           actor_2_name  actor_1_facebook_likes  column_in_new_unit  \
2765      Andrea Martin                   770.0                 NaN
1937     Jeffrey DeMunn                 11000.0        1.941345e+07
3466      Marlon Brando                 14000.0        9.235088e+07
4409         T.J. Storm                260000.0                 NaN
2824    Olaf Lubaszenko                    20.0        3.062516e+05
...                 ...                     ...                 ...
17    Robert Downey Jr.                 26000.0        4.269365e+08
2174      Scoot McNairy                  2000.0        3.881658e+07
715           Sela Ward                   835.0        1.148961e+08
4238      Teresa Wright                   749.0        1.619987e+07
719       Noah Emmerich                  2000.0        8.603629e+07

                            genres  ... num_user_for_reviews language  \
2765                        Comedy  ...                  NaN  English
1937                   Crime|Drama  ...               4144.0  English
3466                   Crime|Drama  ...               2238.0  English
4409                        Action  ...                  1.0      NaN
2824                         Drama  ...                 37.0   Polish
...                            ...  ...                  ...      ...
17         Action|Adventure|Sci-Fi  ...               1722.0  English
2174       Biography|Drama|History  ...                695.0  English
715   Crime|Drama|Mystery|Thriller  ...               1127.0  English
4238             Drama|Romance|War  ...                235.0  English
719            Comedy|Drama|Sci-Fi  ...                877.0  English

      country  content_rating       budget  title_year actor_2_facebook_likes  \
2765   Canada             NaN          NaN         NaN                  179.0
1937      USA               R   25000000.0      1994.0                  745.0
3466      USA               R    6000000.0      1972.0                10000.0
4409      USA             NaN   17000000.0      2016.0                  454.0
2824   Poland           TV-MA          NaN         NaN                    3.0
...       ...             ...          ...         ...                    ...
17        USA           PG-13  220000000.0      2012.0                21000.0
2174      USA               R   20000000.0      2013.0                  660.0
715       USA               R   61000000.0      2014.0                  812.0
4238      USA       Not Rated    2100000.0      1946.0                  208.0
719       USA              PG   60000000.0      1998.0                  617.0

     imdb_score  aspect_ratio movie_facebook_likes
2765        9.5          1.33                    0
1937        9.3          1.85               108000
3466        9.2          1.85                43000
4409        9.1           NaN                    0
2824        9.1          1.33                    0
...         ...           ...                  ...
17          8.1          1.85               123000
2174        8.1          2.35                83000
715         8.1          2.35               146000
4238        8.1          1.37                    0
719         8.1          1.85                18000

[250 rows x 28 columns]

In [89]:
import pandas as pd

# Assuming 'IMDb_Top_250' is already created and contains a column 'language' or 'country'

# Example with 'language' column
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language'] != 'English']

# If 'language' column doesn't exist and you need to use 'country' column
# foreign_language_films = IMDb_Top_250[~IMDb_Top_250['country'].isin(['USA', 'UK', 'Australia', 'Canada'])]

# Display the top foreign language films
print(Top_Foreign_Lang_Film)
# Write your code to extract top foreign language films from 'IMDb_Top_250' here

                 color                     director_name  \
4409               NaN                    John Stockwell
2824             Color                               NaN
3207             Color                               NaN
4498             Color                      Sergio Leone
4747   Black and White                    Akira Kurosawa
3579             Color                               NaN
4029             Color                Fernando Meirelles
2373             Color                    Hayao Miyazaki
3931             Color                        Ron Fricke
4921             Color                      Majid Majidi
3870             Color                        Raja Menon
4259             Color  Florian Henckel von Donnersmarck
4105             Color                    Chan-wook Park
2970             Color                 Wolfgang Petersen
4659             Color                    Asghar Farhadi
1298   Black and White                Jean-Pierre Jeunet
2323             Color                    Hayao Miyazaki
3685             Color           Rakeysh Omprakash Mehra
1329             Color                    S.S. Rajamouli
2829             Color               Oliver Hirschbiegel
4885   Black and White                        King Vidor
4033             Color                 Thomas Vinterberg
1133             Color                               NaN
2734   Black and White                        Fritz Lang
4000             Color              Juan José Campanella
3550             Color                  Denis Villeneuve
4585             Color                Joshua Oppenheimer
4945             Color                   Amal Al-Agroobi
2047             Color                    Hayao Miyazaki
2551             Color                Guillermo del Toro
98               Color                      Hideaki Anno
204              Color                      Hideaki Anno
1710             Color                               NaN
4809             Color                    Ingmar Bergman
4160             Color                   Rajkumar Hirani
4267             Color             Alejandro G. Iñárritu
4348             Color                    Jehane Noujaim
1061   Black and White                  Andrei Tarkovsky
4461             Color                 Thomas Vinterberg
4682             Color               Bernardo Bertolucci
2830             Color                Alejandro Amenábar
4912   Black and White               Carl Theodor Dreyer
2870             Color                 Niels Arden Oplev
3423             Color                   Katsuhiro Ôtomo
3553             Color                      José Padilha
2914             Color                       Je-kyu Kang

      num_critic_for_reviews  duration  director_facebook_likes  \
4409                     2.0      90.0                    134.0
2824                    53.0      55.0                      NaN
3207                    53.0      55.0                      NaN
4498                   181.0     142.0                      0.0
4747                   153.0     202.0                      0.0
3579                    10.0      55.0                      NaN
4029                   214.0     135.0                    353.0
2373                   246.0     125.0                   6000.0
3931                   115.0     102.0                    330.0
4921                    46.0      89.0                    373.0
3870                    39.0     130.0                      6.0
4259                   215.0     137.0                    207.0
4105                   305.0     120.0                      0.0
2970                    96.0     293.0                    249.0
4659                   354.0     123.0                      0.0
1298                   242.0     122.0                      0.0
2323                   174.0     134.0                   6000.0
3685                    33.0     157.0                     85.0
1329                    44.0     159.0                     50.0
2829                   192.0     178.0                    101.0
4885                    48.0     151.0                     54.0
4033                   349.0     115.0                    346.0
1133                    23.0      52.0                      NaN
2734                   260.0     145.0                    756.0
4000                   262.0     129.0                    195.0
3550                   226.0     139.0                    777.0
4585                   248.0      96.0                     50.0
4945                     NaN      62.0                     58.0
2047                   212.0     119.0                   6000.0
2551                   406.0     112.0                      0.0
98                       1.0     120.0                     28.0
204                      1.0     120.0                     28.0
1710                    16.0     511.0                      NaN
4809                    76.0      91.0                      0.0
4160                    15.0     144.0                    124.0
4267                   157.0     115.0                      0.0
4348                    68.0     108.0                     63.0
1061                   144.0     115.0                      0.0
4461                    98.0     105.0                    346.0
4682                   120.0     106.0                    973.0
2830                   157.0     125.0                    448.0
4912                    54.0     126.0                    147.0
2870                     NaN      88.0                     76.0
3423                   150.0     124.0                     78.0
3553                   142.0     115.0                    294.0
2914                    86.0     148.0                     16.0

      actor_3_facebook_likes                  actor_2_name  \
4409                   354.0                    T.J. Storm
2824                     2.0               Olaf Lubaszenko
3207                     2.0               Olaf Lubaszenko
4498                    24.0                Luigi Pistilli
4747                     4.0                 Minoru Chiaki
3579                     5.0             Fortunato Cerlino
4029                    40.0                     Seu Jorge
2373                     7.0              Ryûnosuke Kamiki
3931                     0.0  Balinese Tari Legong Dancers
4921                    27.0        Amir Farrokh Hashemian
3870                    12.0               Sameer Ali Khan
4259                   155.0                   Ulrich Mühe
4105                    38.0                     Ji-tae Yu
2970                    18.0            Martin Semmelrogge
4659                   620.0                  Leila Hatami
1298                    54.0                Jamel Debbouze
2323                   745.0            Jada Pinkett Smith
3685                   199.0             Steven Mackintosh
1329                    72.0                Anushka Shetty
2829                   471.0                    Bruno Ganz
4885                     6.0                  Renée Adorée
4033                    26.0            Alexandra Rapaport
1133                   114.0                Clotilde Hesme
2734                    18.0               Gustav Fröhlich
4000                    50.0              Soledad Villamil
3550                    58.0     Mélissa Désormeaux-Poulin
4585                     0.0                   Herman Koto
4945                     NaN                           NaN
2047                   422.0                 Blythe Danner
2551                   250.0                 Maribel Verdú
98                      12.0             Shin'ya Tsukamoto
204                     12.0             Shin'ya Tsukamoto
1710                    51.0      Ingvar Eggert Sigurðsson
4809                    92.0                 Ingrid Thulin
4160                   327.0                   Sanjay Dutt
4267                    35.0                 Jorge Salinas
4348                     5.0                  Ahmed Hassan
1061                    12.0           Anatoliy Solonitsyn
4461                   141.0                 Paprika Steen
4682                    48.0            Stefania Sandrelli
2830                    93.0                   Lola Dueñas
4912                     0.0              Sylvia Eckhausen
2870                    75.0                  David Dencik
3423                     4.0                 Takeshi Kusao
3553                    15.0              Fernanda Machado
2914                   489.0                       Bin Won

      actor_1_facebook_likes  column_in_new_unit  \
4409                260000.0                 NaN
2824                    20.0        3.062516e+05
3207                    20.0        3.062516e+05
4498                 16000.0        4.178402e+06
4747                   304.0        1.843025e+05
3579                    18.0                 NaN
4029                  1000.0        5.180806e+06
2373                    17.0        6.884011e+06
3931                    48.0        1.782224e+06
4921                    36.0        6.338856e+05
3870                    85.0                 NaN
4259                   380.0        7.729809e+06
4105                   717.0        1.494149e+06
2970                   362.0        7.831514e+06
4659                   786.0        4.862353e+06
1298                   326.0        2.274261e+07
2323                   893.0        1.574224e+06
3685                   397.0        1.505137e+06
1329                   218.0        4.451026e+06
2829                   918.0        3.768741e+06
4885                    81.0                 NaN
4033                    74.0        4.185033e+05
1133                   164.0                 NaN
2734                   136.0        1.810755e+04
4000                   827.0        1.381436e+07
3550                   131.0        4.697001e+06
4585                     3.0        3.316836e+05
4945                     NaN                 NaN
2047                 23000.0        3.226586e+06
2551                   634.0        2.577125e+07
98                     544.0                 NaN
204                    544.0                 NaN
1710                   147.0                 NaN
4809                   440.0                 NaN
4160                   464.0                 NaN
4267                    85.0        3.687840e+06
4348                   161.0                 NaN
1061                    29.0                 NaN
4461                   280.0        1.128703e+06
4682                   319.0                 NaN
2830                   273.0        1.429113e+06
4912                     0.0                 NaN
2870                   690.0                 NaN
3423                     6.0        3.008189e+05
3553                   585.0        5.520971e+03
2914                   717.0        7.604596e+05

                                    genres  ... num_user_for_reviews  \
4409                                Action  ...                  1.0
2824                                 Drama  ...                 37.0
3207                                 Drama  ...                 37.0
4498                               Western  ...                780.0
4747                Action|Adventure|Drama  ...                596.0
3579                  Crime|Drama|Thriller  ...                 25.0
4029                           Crime|Drama  ...                749.0
2373    Adventure|Animation|Family|Fantasy  ...                902.0
3931                     Documentary|Music  ...                 69.0
4921                          Drama|Family  ...                130.0
3870     Action|Drama|History|Thriller|War  ...                178.0
4259                        Drama|Thriller  ...                407.0
4105                Drama|Mystery|Thriller  ...                809.0
2970          Adventure|Drama|Thriller|War  ...                426.0
4659                         Drama|Mystery  ...                264.0
1298                        Comedy|Romance  ...               1314.0
2323           Adventure|Animation|Fantasy  ...                570.0
3685          Comedy|Drama|History|Romance  ...                321.0
1329    Action|Adventure|Drama|Fantasy|War  ...                410.0
2829           Biography|Drama|History|War  ...                564.0
4885                     Drama|Romance|War  ...                 45.0
4033                                 Drama  ...                249.0
1133          Drama|Fantasy|Horror|Mystery  ...                 47.0
2734                          Drama|Sci-Fi  ...                413.0
4000                Drama|Mystery|Thriller  ...                231.0
3550                     Drama|Mystery|War  ...                156.0
4585   Biography|Crime|Documentary|History  ...                107.0
4945                    Documentary|Family  ...                  NaN
2047    Adventure|Animation|Family|Fantasy  ...                330.0
2551                     Drama|Fantasy|War  ...               1083.0
98    Action|Adventure|Drama|Horror|Sci-Fi  ...                 13.0
204   Action|Adventure|Drama|Horror|Sci-Fi  ...                 13.0
1710                  Crime|Drama|Thriller  ...                 19.0
4809                                 Drama  ...                197.0
4160                  Comedy|Drama|Romance  ...                106.0
4267                        Drama|Thriller  ...                361.0
4348        Documentary|Drama|History|News  ...                 42.0
1061                  Drama|Mystery|Sci-Fi  ...                236.0
4461                                 Drama  ...                258.0
4682                                 Drama  ...                101.0
2830               Biography|Drama|Romance  ...                140.0
4912                         Drama|Fantasy  ...                 49.0
2870         Action|Crime|Mystery|Thriller  ...                  NaN
3423               Action|Animation|Sci-Fi  ...                430.0
3553           Action|Crime|Drama|Thriller  ...                107.0
2914                      Action|Drama|War  ...                224.0

        language               country  content_rating        budget  \
4409         NaN                   USA             NaN  1.700000e+07
2824      Polish                Poland           TV-MA           NaN
3207      Polish                Poland           TV-MA           NaN
4498     Italian                 Italy        Approved  1.200000e+06
4747    Japanese                 Japan         Unrated  2.000000e+06
3579     Italian                 Italy           TV-MA           NaN
4029  Portuguese                Brazil               R  3.300000e+06
2373    Japanese                 Japan              PG  1.900000e+07
3931         NaN                   USA           PG-13  4.000000e+06
4921     Persian                  Iran              PG  1.800000e+05
3870       Hindi                 India             NaN  4.400000e+06
4259      German               Germany               R  2.000000e+06
4105      Korean           South Korea               R  3.000000e+06
2970      German          West Germany               R  1.400000e+07
4659     Persian                  Iran           PG-13  5.000000e+05
1298      French                France               R  7.700000e+07
2323    Japanese                 Japan           PG-13  2.400000e+09
3685       Hindi                 India       Not Rated           NaN
1329      Telugu                 India             NaN  1.802615e+07
2829      German               Germany               R  1.350000e+07
4885         NaN                   USA       Not Rated  2.450000e+05
4033      Danish               Denmark               R  3.800000e+06
1133      French                France           TV-MA           NaN
2734      German               Germany       Not Rated  6.000000e+06
4000     Spanish             Argentina               R  2.000000e+06
3550      French                Canada               R  6.800000e+06
4585  Indonesian                    UK       Not Rated  1.000000e+06
4945      Arabic  United Arab Emirates             NaN  1.250000e+05
2047    Japanese                 Japan              PG  2.400000e+07
2551     Spanish                 Spain               R  1.350000e+07
98      Japanese                 Japan             NaN           NaN
204     Japanese                 Japan             NaN           NaN
1710   Icelandic               Iceland             NaN           NaN
4809     Swedish                Sweden               R  4.000000e+05
4160       Hindi                 India           PG-13  1.200000e+08
4267     Spanish                Mexico               R  2.000000e+06
4348      Arabic                 Egypt       Not Rated  1.500000e+06
1061     Russian          Soviet Union              PG  1.000000e+06
4461      Danish               Denmark               R  1.300000e+06
4682     Italian                 Italy               R  7.500000e+05
2830     Spanish                 Spain           PG-13  1.000000e+07
4912      Danish               Denmark       Not Rated           NaN
2870     Swedish                Sweden             NaN           NaN
3423    Japanese                 Japan               R  1.100000e+09
3553  Portuguese                Brazil               R  4.000000e+06
2914      Korean           South Korea               R  1.280000e+07

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
4409      2016.0                  454.0        9.1           NaN
2824         NaN                    3.0        9.1          1.33
3207         NaN                    3.0        9.1          1.33
4498      1966.0                   34.0        8.9          2.35
4747      1954.0                    8.0        8.7          1.37
3579         NaN                    9.0        8.7          1.85
4029      2002.0                   69.0        8.7          1.85
2373      2001.0                   10.0        8.6          1.85
3931      2011.0                    0.0        8.5          2.35
4921      1997.0                   35.0        8.5          1.85
3870      2016.0                   26.0        8.5          2.35
4259      2006.0                  284.0        8.5          2.35
4105      2003.0                   78.0        8.4          2.35
2970      1981.0                   21.0        8.4          1.85
4659      2011.0                  712.0        8.4          1.85
1298      2001.0                  326.0        8.4          2.35
2323      1997.0                  851.0        8.4          1.85
3685      2006.0                  227.0        8.4          2.35
1329      2015.0                  133.0        8.4          1.85
2829      2004.0                  653.0        8.3          1.85
4885      1925.0                   12.0        8.3          1.33
4033      2012.0                   69.0        8.3          2.35
1133         NaN                  116.0        8.3         16.00
2734      1927.0                   23.0        8.3          1.33
4000      2009.0                   88.0        8.2          2.35
3550      2010.0                   66.0        8.2          1.85
4585      2012.0                    3.0        8.2          1.85
4945      2013.0                    NaN        8.2           NaN
2047      2004.0                  713.0        8.2          1.85
2551      2006.0                  269.0        8.2          1.85
98        2016.0                  106.0        8.2          2.35
204       2016.0                  106.0        8.2          2.35
1710         NaN                   63.0        8.2         16.00
4809      1972.0                  132.0        8.2          1.66
4160      2006.0                  426.0        8.2          2.35
4267      2000.0                   79.0        8.1          1.85
4348      2013.0                   10.0        8.1          1.85
1061      1972.0                   29.0        8.1          2.35
4461      1998.0                  278.0        8.1          1.33
4682      1970.0                   90.0        8.1          1.66

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [90]:
# Write your code for extracting the top 10 directors here
import pandas as pd

# Assuming you have a DataFrame 'df' with columns 'director_name' and 'imdb_score'

# Step 1: Group the dataframe by 'director_name'
grouped_directors = df.groupby('director_name')

# Step 2: Calculate the mean IMDb score for each director
director_mean_scores = grouped_directors['imdb_score'].mean()

# Step 3: Sort the directors based on the mean IMDb score in descending order
sorted_directors = director_mean_scores.sort_values(ascending=False)

# Step 4: Extract the top 10 directors with the highest mean IMDb scores
top10director = sorted_directors.head(10).reset_index()

# Rename the columns for clarity
top10director.columns = ['director_name', 'mean_imdb_score']

# Display the top 10 directors
print(top10director)

      director_name  mean_imdb_score
0    John Blanchard              9.5
1  Mitchell Altieri              8.7
2  Sadyk Sher-Niyaz              8.7
3         Cary Bell              8.7
4      Mike Mayhall              8.6
5   Charles Chaplin              8.6
6      Majid Majidi              8.5
7        Ron Fricke              8.5
8   Damien Chazelle              8.5
9        Raja Menon              8.5

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [91]:
# Write your code for extracting the first two genres of each movie here
movies[['genre_1', 'genre_2']] = movies['genres'].str.split('|', n=1, expand=True)
movies['genre_2'].fillna(movies['genre_1'], inplace=True)

In [92]:
movies_by_segment = movies.groupby(['genre_1', 'genre_2'])

In [94]:

# Step 3: Calculate the mean of the 'gross' values for each genre combination
genre_combinations_mean_gross = movies['gross'].mean()

# Step 4: Sort the genre combinations by the mean gross in descending order and extract the top 5
PopGenre = genre_combinations_mean_gross.sort_values(ascending=False).head(5).reset_index()

# Rename the columns for clarity
PopGenre.columns = ['genre_1', 'genre_2', 'mean_gross']

# Display the top 5 genre combinations
print(PopGenre)
# Write your code for getting the 5 most popular combo of genres here

AttributeError: 'numpy.float64' object has no attribute 'sort_values'

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [95]:
# Write your code for creating three new dataframes 
Meryl_Streep = movies[movies['actor_1_name'] == 'Meryl Streep']

In [96]:
Leo_Caprio = movies[movies['actor_1_name'] == 'Leonardo DiCaprio']

# Include all movies in which Leo_Caprio is the lead

In [97]:
Brad_Pitt= movies[movies['actor_1_name'] == 'Brad Pitt'] # Include all movies in which Brad_Pitt is the lead

In [98]:

# Write your code for combining the three dataframes here
# Combine the dataframes
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt], ignore_index=True)

# Check the first few rows of the combined dataframe
print("Combined Dataframe:\n", Combined.head())

Combined Dataframe:
    color   director_name  num_critic_for_reviews  duration  \
0  Color    Nancy Meyers                   187.0     120.0
1  Color   Curtis Hanson                    42.0     111.0
2  Color     Nora Ephron                   252.0     123.0
3  Color   David Frankel                   208.0     109.0
4  Color  Robert Redford                   227.0      92.0

   director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                    278.0                   963.0     Hunter Parrish
1                    161.0                   132.0    Glenn Morshower
2                      0.0                   923.0  Mary Lynn Rajskub
3                     64.0                   505.0      Anne Hathaway
4                      0.0                 10000.0         Tom Cruise

   actor_1_facebook_likes         gross                           genres  ...  \
0                 11000.0  7.720007e+07             Comedy|Drama|Romance  ...
1                 11000.0  3.206804e+07  Action|Adventure|Crime|Thriller  ...
2                 11000.0  6.447441e+07          Biography|Drama|Romance  ...
3                 11000.0  8.544008e+07             Comedy|Drama|Romance  ...
4                 11000.0  1.027344e+07               Drama|Thriller|War  ...

  content_rating      budget  title_year  actor_2_facebook_likes imdb_score  \
0              R  85000000.0      2009.0                  2000.0        6.6
1          PG-13  45000000.0      1994.0                   894.0        6.3
2          PG-13  40000000.0      2009.0                   935.0        7.0
3          PG-13  35000000.0      2006.0                 11000.0        6.8
4              R  35000000.0      2007.0                 10000.0        6.2

   aspect_ratio movie_facebook_likes        profit    genre_1  \
0          1.85                    0 -7.799926e+06     Comedy
1          2.35                    0 -1.293196e+07     Action
2          1.85                13000  2.447441e+07  Biography
3          2.35                    0  5.044008e+07     Comedy
4          2.35                    0 -2.472656e+07      Drama

                    genre_2
0             Drama|Romance
1  Adventure|Crime|Thriller
2             Drama|Romance
3             Drama|Romance
4              Thriller|War

[5 rows x 31 columns]

In [99]:
# Write your code for grouping the combined dataframe here
# Group by actor_1_name
grouped = Combined.groupby('actor_1_name')

In [100]:
# Write the code for finding the mean of critic reviews and audience reviews here
# Calculate the mean of the relevant columns
mean_reviews = grouped[['num_critic_for_reviews', 'num_user_for_reviews']].mean()

# Display the mean reviews
print("Mean Reviews:\n", mean_reviews)

Mean Reviews:
                    num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      231.944444            702.444444
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   163.153846            257.307692

In [101]:
# Identify the actor with the highest mean reviews
critic_favorite = mean_reviews['num_critic_for_reviews'].idxmax()
audience_favorite = mean_reviews['num_user_for_reviews'].idxmax()

# Display the results
print(f"The critic-favorite actor is: {critic_favorite}")
print(f"The audience-favorite actor is: {audience_favorite}")

The critic-favorite actor is: Leonardo DiCaprio
The audience-favorite actor is: Leonardo DiCaprio

**Checkpoint 6:** `Leonardo` has aced both the lists!